<nz-layout class="layout">
  <nz-sider>
    <div class="app-title">我的组件</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/tree" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="apartment" nzTheme="outline"></i>
        <span>自定义树</span>
      </li>
      <li nz-menu-item routerLink="/draggable" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="apartment" nzTheme="outline"></i>
        <span>自定义拖拽</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>